/* Body Styling */
body {
    background-color: #1a1e24; /* Dunkler Hintergrund */
    font-family: "Arial Black", sans-serif; /* Einheitliche Schriftart */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

/* Header und Überschriften */
.header {
    display: flex;
    align-items: center; /* Zentriert das Logo und den Titel vertikal */
}

h1, h2 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: #fff; /* Weißer Text */
    font-size: 24px;
}

h2 {
    color: black;
    font-size: 20px;
}

/* Container Styling */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 800px; /* Größere Breite auf größeren Bildschirmen */
    min-width: 320px; /* Mindestbreite für kleinere Bildschirme */
    text-align: center;
    margin: 20px auto;
}

/* Ergebnisfarben */
.correct {
    background-color: #4caf50; /* Grün für korrekte Antworten */
}

.correct-second {
    background-color: #ff9800; /* Orange für korrekte Antworten im zweiten Versuch */
}

.wrong {
    background-color: #f44336; /* Rot für falsche Antworten */
}

/* Tabellen Styling */
table {
    width: 75%; /* 75% der Breite auf Desktops */
    border-collapse: collapse; /* Tabellenränder zusammenführen */
    margin: auto; /* Zentriert die Tabelle */
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc; /* Tabellenrahmen */
    padding: 12px 20px; /* Innenabstand */
    text-align: left; /* Text links ausrichten */
}

/* Tabellenheader: Dunkler Grauton */
th {
    background-color: #2c2f33; /* Dunkelgrauer Header leicht heller als der Hintergrund */
    color: #ccc; /* Heller Text im Header */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Leichte Schattierung für besseren Kontrast */
}

/* Tabellenzeilen Styling */
td {
    font-size: 1rem; /* Standard-Schriftgröße */
    color: #000; /* Standard-Schriftfarbe */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Leichte Schattierung für besseren Kontrast */
}

/* Alternierende Zeilen */
#vocabResultsTable tr:nth-child(even) {
    background-color: #f5f5f5; /* Hellerer Hintergrund für gerade Zeilen */
}

/* Responsives Design für mobile Geräte */
@media (max-width: 768px) {
    table {
        width: 90%; /* Maximal 90% Breite auf mobilen Geräten */
    }
    
    /* Zellen nebeneinander */
    th, td {
        display: inline-block; /* Zellen in einer Reihe anzeigen */
        width: 45%; /* Zellen teilen sich den verfügbaren Platz */
        box-sizing: border-box;
    }
    
    th, td {
        padding: 8px;
        text-align: left;
    }
}
