/* Tabellenheader: Heller Grauton */
th {
    background-color: #e0e0e0; /* Heller Grauton für den Header */
    color: #333; /* Dunkler Text im Header */
}

/* Tabellen Styling */
table {
    width: 55%; /* Breite der Tabelle */
    border-collapse: collapse; /* Tabellenränder zusammenführen */
    margin: auto; /* Zentriert die Tabelle */
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 0px solid #ccc; /* Tabellenrahmen */
    padding: 12px 20px; /* Innenabstand */
    text-align: left; /* Text links ausrichten */
}

td {
    font-size: 1rem; /* Standard-Schriftgröße */
}

/* Linke Spalte */
td.left-column {
    font-size: 10px; /* Schriftgröße verkleinern */
    width: 50%; /* Breite der linken Spalte */
}

/* Rechte Spalte */
td.right-column {
    font-size: 20px; /* Schriftgröße vergrößern */
    width: 50%; /* Breite der rechten Spalte */
}

/* Ergebnisfarben und passende Textfarben */
.correct-first {
    background-color: #4caf50; /* Grüner Hintergrund für korrekte Antworten */
    color: #2e7d32; /* Dunkelgrüner Text für besseren Kontrast */
}

.wrong-first {
    background-color: #ff9800; /* Orange für falsche Antworten */
    color: #e65100; /* Dunkeloranger Text für besseren Kontrast */
}

.second-round {
    background-color: #f44336; /* Roter Hintergrund für zweite Runde */
    color: #b71c1c; /* Dunkelroter Text für besseren Kontrast */
    font-weight: bold; /* Text fett, um Lesbarkeit zu verbessern */
}

/* Tabellenzeilen mit alternierenden Farben */
#vocabResultsTable tr:nth-child(even) {
    background-color: #f9f9f9; /* Leichte Hintergrundfarbe für gerade Zeilen */
}

/* Responsives Design für mobile Geräte */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    .container {
        width: 90%; /* Maximale Breite */
        padding: 10px;
    }
    
    table, th, td {
        display: block;
        width: 100%;
    }
}
